* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #271A45;
    background-color: #D9CDF7;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}